body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('bkgnd.jpg'); /* Set the background image */
    background-size: 100% auto; 
    background-position: top left; 
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 0;
}

body * {
	position: relative;
	z-index: 1;
}

form div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

button {
	background-color: #008CBA;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 5px;
}
button:hover {
	background-color: #005f73;
}

#currentVacationPeriod {
    margin-top: 20px;
    font-size: 16px;
    color: #2c3e50;
}
